<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Cultural Fest 2025</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/activities" routerLinkActive="active">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/venues" routerLinkActive="active">Venues</a>
        </li>
      </ul>
      
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!isLoggedIn; else loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/register" routerLinkActive="active">Register</a>
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome, {{ username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" routerLink="/profile">My Profile</a></li>
              <ng-container *ngIf="authService.isAdmin()">
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/events">Manage Events</a></li>
                <li><a class="dropdown-item" routerLink="/activities">Manage Activities</a></li>
                <li><a class="dropdown-item" routerLink="/admin/participants">View All Participants</a></li>
              </ng-container>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a></li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>